<h1>Demo#index</h1>

<a href="/demo/hello">Hello Page HTML</a><br>
<%= link_to("Hello Page Ruby", {:action => 'hello'}) %><br>
<%= link_to("Hello Page Ruby Parameters", {:action => 'hello', :page => 5, :id => 20}) %>

